/**
 * Backend stylesheet for cron
 */
 
.cron-list .main
{
	padding:0 300px 0 0;
}

.cron-list .main .title
{
	font-size:12px;
}

.cron-list .main .job
{
	font-size:12px;
	color:#888;
}

.cron-list .floatleft
{
	float:left;
	white-space:nowrap;
	margin:5px 10px 0 0;
}

.cron-list .floatleft .data
{
	font-size:12px;
	color:#888;
} 

.cron-list .floatleft .caption
{
	border-bottom:1px solid #ddd;
	font-size:12px;
	color:#888;
} 
